.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  margin: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  height: 50px;
  width: 100%;
  background-color: #282c34;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-btn {
  margin-right: 20px;
}

button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 400px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  border-radius: 3px;
}

.chat-wrapper {
  width: 80%;
}

.messages {
  height: 400px;
  border: 1px solid #282c34;
  overflow-y: auto;
}

.chat-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.avatar {
  width: 40px;
  height: 40px;
}

img {
  border-radius: 50px;
}

.send-container {
  background-color: #282c34;
  height: 50px;
  display: flex;
  gap: 50px;
  align-items: center;
}

input {
  width: 80%;
  height: 43px;
  padding: 10px;
  box-sizing: border-box;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #282c34; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}